
.ant-layout-sider{
    background-color: #fff !important;
}
.ant-layout-content{
margin:  0px !important;
}
.ant-menu-item{
    /* padding: 0px !important ; */
}
.anticon svg {
    position: unset;
}
.slick-next:before {
    display: none !important;
    font-size: 60px !important;
    color: gray !important;
}
.slick-prev:before {
    display: none !important;
    font-size: 60px !important;
    color: gray !important;
}
.carosel:hover .Btn_Slick  {
    opacity: 1;
}